:root {
    --pokeblue: #1EAEDB;
    --pokedark: #222222;
    --pokedark-light: #333333;
    --pokedark-dark: #111111;
    
    /* Tipos de Pokémon */
    --normal: #A8A878;
    --fire: #F08030;
    --water: #6890F0;
    --grass: #78C850;
    --electric: #F8D030;
    --ice: #98D8D8;
    --fighting: #C03028;
    --poison: #A040A0;
    --ground: #E0C068;
    --flying: #A890F0;
    --psychic: #F85888;
    --bug: #A8B820;
    --rock: #B8A038;
    --ghost: #705898;
    --dark: #705848;
    --dragon: #7038F8;
    --steel: #B8B8D0;
    --fairy: #F0B6BC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--pokedark-dark);
    color: white;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--pokedark);
    border-bottom: 1px solid rgba(30, 174, 219, 0.2);
    padding: 1rem 0;
    z-index: 100;
    width: 100vw; 
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 20px;
}

.logo {
    color: var(--pokeblue);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* barra de navegação aqui */

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.nav-links a:hover {
    olor: var(--pokeblue);
}

.nav-links a.active {
    background-color: var(--pokeblue);
    color: white;
}

.place-holder {
    min-width: 200px;
    visibility: hidden;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.search-bar input {
    background-color: var(--pokedark-light);
    border: 1px solid rgba(30, 174, 219, 0.2);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    min-width: 200px;
}

/* Inicio do Conteudo Principal */
content{
    display: inline-block;
    margin-left: 10%;
    width: 100%;
    max-width: 75%;
    margin-top: 7rem; /* Para evitar que o conteúdo fique atrás da navbar */
    padding: 2rem;
    border-color: red;
    border-style: solid;
}

.content-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.content-list{
    display: flex;
    flex-direction: column;
}

/* listas */

table.room-list-header{
    width: 100%;
    background-color: var(--pokedark-light);
    border-collapse: collapse;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-style: solid;
    border-radius: 0.25rem;
    border-color: var(--pokeblue);
    border-width: 1px;
}

table.room-list-header th{
    width: 25%;
    color: var(--pokeblue);
    font-weight: bold;
}

table.room-list-content{
    width: 100%;
    color: white;
    font-weight: lighter;
}

table.room-list-content tr{
    display: flex;
    background-color: var(--pokedark-light);
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

table.room-list-content th{
    border-color: var(--pokeblue);
    width: 25%;
    font-weight: lighter;
}

table.room-list-content input{
    width: 75%;
    color: white;
    border-color: var(--pokedark-light);
    border-style: solid;
    border-radius: 0.25rem;
    background-color: var(--pokedark-dark);
    font-weight: lighter;
}

table.room-list-content input:hover{
    border-color: var(--pokeblue);
    background-color: var(--pokedark-light);
    font-weight: lighter;
}